name: Publish
on:
  push:
    branches: main
jobs:
  publish-npm:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    steps:
      - uses: plengauer/opentelemetry-github/actions/instrument/job@v5.36.0
        with:
          secrets_to_redact: '["${{ github.token }}","${{secrets.NPM_TOKEN}}"]'
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: ${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}
          OTEL_EXPORTER_OTLP_HEADERS: ${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}
      - uses: actions/checkout@v6.0.0
      - uses: actions/setup-node@v6.0.0
        with:
          node-version: 19
          registry-url: https://registry.npmjs.org/
      - run: npm publish
        continue-on-error: true
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
    permissions:
      actions: read
